# pre-compiled Python code caches.
__pycache__/

# pytest pre-compiled cache.
.pytest_cache

# artifacts from running 'coverage'
.coverage
htmlcov/

# Python egg metadata.
python/iwp.egg-info/

# Jupyter notebook checkpoints.
.ipynb_checkpoints/

# build artifacts for container image creation.
docker/iwp-development/environment.yml
docker/iwp-development/ca-certificates.crt

# artifacts from running Scalabel.ai's container out of the repository.  ignore
# the local Redis database as well as the projects/ directory containing each of
# the labeling tasks created by the user.
scalabel/dump.rdb
scalabel/projects
